.container
	.col-md-12
		.panel.panel-default
			.panel-heading
				会社情報

			%table.table
				%thead
					%tr
						%th 項目
						%th 内容

				%tr
					%th 社名
					%td （未定）

				%tr
					%th 設立
					%td ◯◯◯◯年◯◯月◯◯日

				%tr
					%th 資本金
					%td ◯◯万円

				%tr
					%th 役員
					%td 代表取締役　張 駿翔

				%tr
					%th 本店所在地	
					%td 東京都◯◯

				%tr
					%th 事業内容
					%td 「airbnb-tips」の企画・運営

				%tr
					%th 許認可
					%td 有料職業紹介事業許可

				%tr
					%th 取引銀行
					%td ◯◯銀行

				%tr
					%th 連絡先
					%td ◯◯◯-◯◯◯◯-◯◯◯